.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button {
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  color: white;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  min-width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4CAF50;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), inset 0 -3px 6px rgba(255, 255, 255, 0.4);
  height: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1200px; /* Допустимая ширина контейнера */
  margin: 10px auto; /* Центрируем контейнер */
}

.card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  height: 200px;

  &:hover {
    transform: scale(1.05);
  }

  .card-content {
    padding: 16px;

    h3 {
      margin: 0;
      font-size: 18px;
      color: #333;
    }
  }

  @media (max-width: 900px) {
    width: calc(50% - 20px);
  }

  @media (max-width: 600px) {
    width: calc(100% - 20px);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;

  li {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    padding: 8px;
    background-color: #f0f0f0;
    border-radius: 4px;

    a {
      text-decoration: none;
      color: #333;
    }

    &.active {
      background-color: #007bff;
      color: #fff;
    }
  }

  .break-me {
    cursor: default;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
