.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1200px; /* Допустимая ширина контейнера */
  margin: 10px auto; /* Центрируем контейнер */
}

.card {
  text-align: center;
  padding-top: 25px;
  width: calc(100% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  height: 100px;

  &:hover {
    transform: scale(1.05);
  }

  .card-content {
    text-align: center;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      margin: 0;
      font-size: 18px;
      color: #333;
    }
  }
}

.window-size-info {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1000;
}

.question-list {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.question-list h2 {
  margin-bottom: 10px;
  color: #333;
}

.question-list ul {
  list-style-type: none;
  padding: 0;
}

.question-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: #555;
}

.question-list li:last-child {
  border-bottom: none;
}

.back-button {
  margin-bottom: 10px;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}
